<script setup lang="ts">
import { reactive, computed } from "vue";

const state = reactive({
  num1: "1",
  num2: "1",
  result: 2,
});
const result = computed(function () {
  return parseInt(state.num1) + parseInt(state.num2);
});
const doAdd = function () {
  state.result = parseInt(state.num1) + parseInt(state.num2);
};
</script>
<template>
  <div id="app" class="card">
    <div>
      <input type="text" ref="num1" v-model="state.num1" class="center_text" />
    </div>
    <div class="center_text bold_text">+</div>
    <div>
      <input type="text" ref="num2" v-model="state.num2" class="center_text" />
    </div>
    <div><button class="center_text width100" @click="doAdd()">=</button></div>
    <div ref="result" class="center_text">{{ state.result }}</div>
    <div>{{ state.num1 }}+{{ state.num2 }}={{ result }}</div>
  </div>
</template>
<style>
.center_text {
  text-align: center;
  display: block;
  font-size: 20px;
  margin: auto auto;
  margin-bottom: 1em;
}

.card {
  padding: 3%;
  border-style: solid;
  width: 400px;
  text-align: center;
}

.bold_text {
  font-weight: bold;
}

.width100 {
  width: 100px;
}
</style>
