<script setup lang="ts">
import { ref } from "vue";
const show = ref(true);
const list = ref([1, 2, 3]);
</script>

<template>
  <tr>
    <td><button @click="show = !show">Toggle List</button></td>
    <td><button @click="list.push(list.length + 1)">Push Number</button></td>
    <td><button @click="list.pop()">Pop Number</button></td>
    <td><button @click="list.reverse()">Reverse List</button></td>
  </tr>

  <ul v-if="show">
    <li v-for="(item, index) of list" :key="index">{{ item }}</li>
  </ul>
  <p v-else-if="list.length">List is not empty, but hidden.</p>
  <p v-else>List is not empty.</p>
</template>

<style scoped></style>
