<script setup lang="ts">
import { ref } from "vue";
const text = ref(" Edit Me");
const checked = ref(true);
const checkedNames = ref(["Jack"]);
const picked = ref('');
const selected = ref('2');
const multiSelected = ref(['1'])
</script>

<template>
    <h2>Text Input</h2>
    <input v-model="text" />{{ text }}


    <h2>Check Box</h2>
    <input type="checkbox" v-model="checked" id="checkbox" />
    <label for="checkbox">checked:{{ checked }}</label>


    <h2>Multi Checkbox</h2>
    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames" />
    <label for="jack">Jack</label>

    <input type="checkbox" id="John" value="John" v-model="checkedNames" />
    <label for="John">John</label>

    <input type="checkbox" id="Mike" value="Mike" v-model="checkedNames" />
    <label for="Mike">Mike</label>

    <p>Checked names:
    <pre>{{ checkedNames }}</pre>
    </p>


    <h2>Radio</h2>
    <input type="radio" id="one" value="One" v-model="picked">
    <label for="one">One</label>
    <br>
    <input type="radio" id="two" value="Two" v-model="picked">
    <label for="two">Two</label>
    <br>
    <span>Picked: {{ picked }}</span>


    <h2>Select</h2>
    <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option value="1">A</option>
        <option value="2">B</option>
        <option value="3">C</option>
    </select>
    <span>Selected {{ selected }}</span>


    <h2>Multi Select</h2>
    <select v-model="multiSelected" multiple style="width:100px">
        <option value="1">A</option>
        <option value="2">B</option>
        <option value="3">C</option>
    </select>
    <span>Selected {{ multiSelected }}</span>
</template>

<style scoped>

</style>
