<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldEx.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBinding from "./components/AttributeBinding.vue";
import ConditionsAndLoop from "./components/ConditionsAndLoop.vue";
import FormBinding from "./components/FormBinding.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div class="body">
    <SimpleComponent></SimpleComponent>
    <br />
    <br />
    <FormBinding></FormBinding>
    <br />
    <br />
    <br />
    <br />
    <ConditionsAndLoop></ConditionsAndLoop>
    <br />
    <br />
    <AttributeBinding></AttributeBinding>
    <HandlingUserInput></HandlingUserInput>
    <CalComponent></CalComponent>
    <HelloWorldExample></HelloWorldExample>
  </div>
</template>

<style scoped></style>
